/*! Shared Styles  */
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  border: none;
  padding: 20px 25px;
  color: white;
  margin-top: 10px;
  font-size: 1.25rem;
  font-weight: 200px;
  cursor: pointer;
}
.text-ligt-greay {
  color: #727272;
}
.section-title {
  color: var(--dark-01, #131313);
  font-size: 2.8rem;
  font-weight: 700;
}

/*! header styles  */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-size: 1rem;
  font-weight: 500;
}
nav li a {
  text-decoration: none;
  color: var(--dark-02, #424242);
}
/*! Banner Description Styles */
.banner-des-container {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  margin-top: 130px;
  margin-bottom: 50px;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700px;
  color: #131313;
  margin-bottom: 10px;
}
.banner-des {
  color: #727272;
  margin-bottom: 10px;
}
.banner-img {
  width: 100%;
}

/*! Main Styles  */
main {
  max-width: 1440px;
  margin: 0 auto;
}
/*? Teams Section Styles  */
.teams-container {
  display: flex;
  align-items: center;
  gap: 2.8rem;
  width: 70%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}
.teams-title {
  font-size: 2.8 rem;
  margin-bottom: 10px;
}
.teams-title .quick-list {
  color: #727272;
  font-family: Work Sans;
  font-size: 2rem;
  font-weight: 500;
}
.teams-title .of-our {
  color: var(--dark-01, #131313);
  font-size: 2rem;
  font-weight: 700;
}
.teams-title .text-features {
  color: #ff900e;
  font-size: 2rem;
  font-weight: 700;
}
.teams-des {
  color: var(--dark-03, #727272);
  font-size: 1rem;
  font-weight: 400;
}

/*! Features Section Styles  */
.features {
  display: flex;
  gap: 100px;
  width: 75%;
  margin: 100px auto 100px auto;
}
.features-contant .section-title {
  border-left: 5px solid #ff900e;
  padding-left: 10px;
}
.features-contant .card {
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.feature-img {
  width: 508px;
  height: 820px;
}
.ten-years-badge {
  border-radius: 8px;
  background: #ff900e;
  width: 148px;
  height: 50px;
  color: white;
  padding: 40px;
  text-align: center;
  position: relative;
  top: -100px;
  right: 40px;
}
.ten-years-badge h3 {
  font-size: 2rem;
  margin: 0;
}
.ten-years-badge p {
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 0;
}
/*! fatcs Section Styles  */
.facts {
  width: 75%;
  margin: auto;
}

.section-title {
  margin-bottom: 15px;
}
.facts-card-container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.facts-card-container .card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  padding: 40px 30px;
}
.facts-card-container .card-stats {
  font-size: 2.8rem;
  color: #424242;
  margin-bottom: 10px;
  margin-top: 10px;
}
.facts-card-container .card-title {
  font-weight: 600;
  font-size: 1.25rem;
}

/*! Sponsors Styles  */
.sponsors {
  text-align: center;
  margin-top: 50px;
}
.sponsors-img-conatiner {
  margin-top: 3.2rem;
  display: flex;
  justify-content: space-evenly;
}

/*! footer Section Styles  */
.footer {
  border-radius: 8px;
  background: #fff4e7;
  padding: 20px;
  text-align: center;
  width: 69%;
  margin: 100px auto;
}

/*! Resposive Design  */
/*? Mobile Devices  */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav {
    flex-direction: column;
    gap: 20px;
  }
  nav ul {
    flex-direction: column;
    gap: 20px;
  }
  .banner-des-container {
    margin-top: 50px;
  }
  /*! Teams Section Styles  */
  .teams-container {
    flex-direction: column;
  }
  .teams-img-container {
    grid-template-columns: 1fr;
  }
  /*! Facts Section Styles  */
  .facts-card-container {
    flex-direction: column;
    gap: 10px;
  }
  /*! Sponsors Section Styles  */
  .sponsors-img-conatiner {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .sponsors-img-conatiner img {
    width: 165px;
  }
  /*! Features Section Styles  */
  .features {
    flex-direction: column;
  }
  .feature-img {
    width: 100%;
    margin: 0;
  }
  .features {
    margin: 100px auto 10px auto;
  }
}
/*? Tablet or Medium Devices  */
@media screen and (min-width: 577px) and (max-width: 992px) {
  header {
    padding: 20px;
    width: 100%;
  }
  nav {
    flex-direction: column;
    gap: 20px;
  }
  .banner-des-container {
    margin-top: 50px;
  }
  /*! teams Section Styles  */
  .teams-container {
    flex-direction: column;
  }
  /*! Facts Section Styles  */
  .facts-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  /*! Sponsors Section Styles  */
  .sponsors-img-conatiner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 120px;
  }
  /*! Features Section Styles  */
  .features {
    flex-direction: column;
  }
  .feature-img {
    width: 100%;
    margin: 0;
  }
  .features {
    margin: 100px auto 10px auto;
  }
}
