/*! Shared Styles  */
* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    border: none;
    padding: 20px 25px;
    color: white;
    margin-top: 10px;
    font-size: 1.25rem;
    font-weight: 200px;
    cursor: pointer;
}

/*! header styles  */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h3 {
    color: var(--dark-01, #131313);
    font-size: 2.8rem;
    font-weight: 700;
}
nav ul {
    display: flex;
}
nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
}
nav li a {
    text-decoration: none;
    color: var(--dark-02, #424242);
}
/*! Banner Description Styles */
.banner-des-container {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 50px;
}
.banner-title {
    font-size: 4rem;
    font-weight: 700px;
    color: #131313;
    margin-bottom: 10px;
}
.banner-des {
    color: #727272;
    margin-bottom: 10px;
}
.banner-img {
    width: 100%;
}
/*! Resposive Design  */
/*? Mobile Devices  */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }
    nav {
        flex-direction: column;
        gap: 20px;
    }
    nav ul {
        flex-direction: column;
        gap: 20px;
    }
    .banner-des-container {
        margin-top: 50px;
    }
}
/*? Tablet or Medium Devices  */
@media screen and (min-width: 577px) and (max-width:992px) {
    header {
        padding: 20px;
    }
    nav {
        flex-direction: column;
        gap: 20px;
    }
    .banner-des-container {
        margin-top: 50px;
    }
}

/*! Main Styles  */
main {
    max-width: 1440px;
    margin: 0 auto;
}
/*? Teams Section Styles  */
.teams-container {
    display: flex;
    align-items: center;
    gap: 2.8rem;
    width: 70%;
    margin: auto;
    margin-top: 50px;
}
.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}
.teams-title {
    font-size: 2.8 rem;
    margin-bottom: 10px;
}
.teams-title .quick-list {
    color: #727272;
    font-family: Work Sans;
    font-size: 2rem;
    font-weight: 500;
}
.teams-title .of-our {
    color: var(--dark-01, #131313);
    font-size: 2rem;
    font-weight: 700;
}
.teams-title .text-features {
    color: #FF900E;
    font-size: 2rem;
    font-weight: 700;
}
.teams-des {
    color: var(--dark-03, #727272);
    font-size: 1rem;
    font-weight: 400;
}


